<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accountant</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class="container">
<ul class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="/">Home</a>
  </li>
  <li class="breadcrumb-item">
    <a href="/history/">History</a>
  </li>
    <li class="breadcrumb-item">
    <a href="/balance/">Balance</a>
  </li>
    <li class="breadcrumb-item">
    <a href="/buysell/">Buy/Sell</a>
  </li>
</ul></div>
<div class="container">
    <p><h3>FORMUL OF BUY/SELL</h3></p>
</div>
    <div class="container">
        <div class="columns">
            <div class="col-3">
            </div>
            <div class="col-6">
        <form action="/buysell/" method="POST">
            <div class="form-group">
                <span class="text-error"> {{ errors.action }} </span>
                  <select name="action" class="form-select">
                    <option value="none">Choose an option</option>
                    <option value="buy">BUY</option>
                    <option value="sell">SELL</option>
                  </select>
            </div>
            <div class="form-group">
              <label class="form-label" for="input-example-1">Product</label>
              <input required class="form-input" name="product" type="text" id="input-example-1" placeholder="Product">
            </div>
            <div class="form-group">
                <span class="text-error"> {{ errors.money }} </span>
              <label class="form-label" for="input-example-2">Unit Price</label>
              <input required class="form-input" name="unit_price" type="number" id="input-example-2" placeholder="Unit Price">
            </div>
            <div class="form-group">
                <span class="text-error"> {{ errors.stock }} </span>
              <label class="form-label" for="input-example-3">Quantity</label>
              <input required class="form-input" name="qty" type="number" min="1" id="input-example-3" placeholder="Quantity">
            </div>
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
            <div class="col-3">
            </div>
</div>
</div>
</div>
</body>
</html>